<div class="superInfo d-flex justify-content-around align-items-center container-fluid">
  <a href="/access-panel" class="text-decoration-none">
    <h1 class="text-light"><i class="fa-solid fa-book text-light fs-5"></i> Painel de Cadastro no Sistema</h1>
  </a>
  <a href="/logout" alt="Sair"><i class="fa-solid fa-arrow-right-from-bracket text-light fs-5"></i></a>
</div>