<%- include('partials/header.ejs'); %>

  <body class="forgotPassword gradient2">
    <img src="/img/grupojk.png" alt=" JGlopes.dev" class="marca-grupojk pt-5 mt-5">
    <div class="text-center">
      <h1 class="mt-5" style="color:#1a1a21">Recuperação de Senha</h1>
      <p class="pt-4 display-6 fs-3 w-50 m-auto">Aqui você pode recuperar sua senha para acessar o Painel Administrativo da Lista de Ramais do Grupo JK.</p>
    </div>

    <form method="POST" action="/forgot-password" class="row g-2 d-flex justify-content-center mt-4">
      <div class="col-3">
        <label for="inputEmailCorp" class="visually-hidden">Email Corporativo</label>
        <input type="email" name="email" class="form-control" id="inputEmailCorp" placeholder="Seu email">
      </div>
      <div class="col-auto">
        <button type="submit" style="background-color:#1a1a21; color:#fff" class="btn mb-3">Recuperar Senha</button>
      </div>
    </form>

    <footer class="position-relative">
      <img src="/img/wave.svg" alt="JGlopes.dev" class="fixed-bottom wave">
      <img src="/img/marca.svg" alt="JGlopes.dev" class="marca-forgot">
    </footer>

  </body>