<%- include('partials/header.ejs'); %>

  <body class="forgotPassword gradient2">
    <img src="/img/grupojk.png" alt=" JGlopes.dev" class="marca-grupojk pt-2 mt-5">

    <form method="POST" action="/update-password" class="row g-3 d-flex align-items-center flex-column mt-5">
      <div class="col-3">
        <input type="email" name="email" class="form-control" id="email" placeholder="Seu email">
      </div>

      <div class="col-3">
        <input type="password" class="form-control" name="password" placeholder="Informe a nova Senha">
      </div>

      <div class="col-3">
        <input type="text" class="form-control" name="token" placeholder="Informe o token recebido no e-mail">
      </div>

      <div class="col-auto">
        <button type="submit" style="background-color:#1a1a21; color:#fff" class="btn mb-3">Alterar Senha</button>
      </div>
    </form>

    <footer class="position-relative">
      <img src="/img/wave.svg" alt="JGlopes.dev" class="fixed-bottom wave">
      <img src="/img/marca.svg" alt="JGlopes.dev" class="marca-forgot">
    </footer>

  </body>